<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTR | Contacto</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <!-- Page-Icon -->
    <link rel="shortcut icon" href="../img/icono/icon-ctr.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="borde-logo">
            <div class="logo-nav">
                <img src="../img/navbar/logo.png" class="logo" onclick="reproducirAudio()" alt="logo">
                <audio id="miAudio" src="../audio/crashlogosound.mp3"></audio>
            </div>
        </div>
        <nav>
            <a href="../../index.html"><img src="../img/navbar/flecha.png" alt="" class="flecha"></a>
            <div class="borde-contacto">
                <a href="contacto.html" class="btn-c">Contacto</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="contenedor">
            <img src="../img/contacto/crashcapomal.png" alt="">
            <div class="formulario-zone">
                <h2>Envianos un mensaje!!</h2>
                <div class="borde-form">
                    <form action="" id="contactForm">
                        <input type="text" placeholder="Asunto..." required>

                        <input type="email" placeholder="Email..." required>

                        <input type="text" placeholder="Mensaje..." required>

                        <input type="submit" value="Enviar" class="boton-enviar">

                    </form>
                </div>
            </div>
        </div>
    </main>

    <div class="borde-footer">
        <footer>
            <div class="contenido-footer">
                <div class="columna">
                    <h2>Nuestras Redes!!</h2>
                    <div class="fila">
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                        </div>
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="crash-footer">
                    <img src="../img/footer/crashito.png" alt="">
                    <h2>Gracias por visitar nuestra pagina</h2>
                </div>
                <div class="columna">
                    <h2>Creditos</h2>
                    <pre>Skiel - Programacion y Diseño Web</pre>
                    <pre>Pollito - Imagenes, Modelos 3D y Programacion</pre>
                </div>
            </div>
        </footer>

        <script src="../js/sonido.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="../js/sweet.js"></script>

</body>

</html>