<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTR | Información</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/info.css">
    <!-- Page-Icon -->
    <link rel="shortcut icon" href="../img/icono/icon-ctr.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="borde-logo">
            <div class="logo-nav">
                <img src="../img/navbar/logo.png" class="logo" onclick="reproducirAudio()" alt="logo">
                <audio id="miAudio" src="../audio/crashlogosound.mp3"></audio>
            </div>
        </div>
        <nav>
            <a href="../../index.html"><img src="../img/navbar/flecha.png" alt="" class="flecha"></a>
            <div class="borde-contacto">
                <a href="contacto.html" class="btn-c">Contacto</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-informacion">
            <div class="info-div">
                <img src="../img/info-img/crashdd.png" alt="">
                <div class="borde-info">
                    <div class="info-text">
                        <h1>Crash Team Racing</h1> <br>
                        <h2>Crash Team Racing es la cuarta entrega de la serie Crash Bandicoot. La historia del
                            videojuego
                            se centra
                            en los esfuerzos de un equipo de varios personajes de la serie Crash Bandicoot, que debe
                            competir contra
                            el extraterrestre gasmoxiano Nitrous Oxide para salvar a su planeta de convertirlo en un
                            estacionamiento
                            intergaláctico.</h2>
                    </div>
                </div>
            </div>
            <div class="info-div2">
                <img src="../img/info-img/cortexpapu.png" alt="">
                <div class="borde-info2">
                    <div class="info-text2">
                        <h1>Jugabilidad</h1> <br>
                        <h2>Crash Team Racing es un videojuego de carreras en el que el jugador controla personajes del
                            universo de Crash Bandicoot, la mayoría de los cuales compiten en karts. Mientras el jugador
                            conduce, puede acelerar, girar, retroceder, frenar, saltar o usar armas y potenciadores con
                            la
                            palanca analógica y los botones del control de la consola.</h2>
                    </div>
                </div>
            </div>
            <div class="info-div">
                <img src="../img/info-img/dino.png" alt="">
                <div class="borde-info3">
                    <div class="info-text3">
                        <h1>Modos de Juego</h1> <br>
                        <h2>Crash Team Racing cuenta con 5 modos: aventura, contrarreloj, arcade, versus y batalla. En
                            cada
                            modo, el jugador selecciona 1 de 8 personajes iniciales. Se puede insertar un multitap de
                            PlayStation para permitir tres o cuatro jugadores. El modo aventura es un modo para un
                            jugador
                            en el que el jugador debe correr a través de todas las pistas y arenas del videojuego y
                            recolectar la mayor cantidad de trofeos, reliquias, llaves, fichas CTR y gemas como sea
                            posible.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="info-div2">
                <img src="../img/info-img/crashcopa.png" alt="">
                <div class="borde-info4">
                    <div class="info-text4">
                        <h1>Recepcion</h1> <br>
                        <h2>Crash Team Racing recibió elogios por parte del público, mientras que recibió críticas
                            "generalmente favorables" de acuerdo con el agregador de reseñas Metacritic. La Official
                            PlayStation Magazine describió a Crash Team Racing como «el videojuego que hizo que las
                            carreras
                            de autitos sean geniales» y proclamó que «nada ni nadie ha igualado su calidad».
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <button id="scrollBtn" onclick="scrollToTop()"><img src="../img/navbar/flecha.png" class="boton-arriba"
            alt=""></button>

    <div class="borde-footer">
        <footer>
            <div class="contenido-footer">
                <div class="columna">
                    <h2>Nuestras Redes!!</h2>
                    <div class="fila">
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                        </div>
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="crash-footer">
                    <img src="../img/footer/crashito.png" alt="">
                    <h2>Gracias por visitar nuestra pagina</h2>
                </div>
                <div class="columna">
                    <h2>Creditos</h2>
                    <pre>Skiel - Programacion y Diseño Web</pre>
                    <pre>Pollito - Imagenes, Modelos 3D y Programacion</pre>
                </div>
            </div>
        </footer>

        <script src="../js/sonido.js"></script>
        <script src="../js/boton.js"></script>

</body>

</html>