<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTR | Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nosotros.css">
    <!-- Page-Icon -->
    <link rel="shortcut icon" href="../img/icono/icon-ctr.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="borde-logo">
            <div class="logo-nav">
                <img src="../img/navbar/logo.png" class="logo" onclick="reproducirAudio()" alt="logo">
                <audio id="miAudio" src="../audio/crashlogosound.mp3"></audio>
            </div>
        </div>
        <nav>
            <a href="../../index.html"><img src="../img/navbar/flecha.png" alt="" class="flecha"></a>
            <div class="borde-contacto">
                <a href="contacto.html" class="btn-c">Contacto</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="nosotros-contenedor">
            <div class="skiel">
                <div class="nosotros-fila">
                    <img src="../img/nosotros/skiel.jpg" alt="">
                    <div class="descripcion">
                        <h2>Ezequiel Enrriquez</h2>
                        <p>
                            Ezequiel Enríquez, de 17 años, es un entusiasta de la programación, especializado en el
                            desarrollo
                            visual de páginas web (frontend). Nacido el 14 de junio de 2007 y residente en El Jagüel,
                            Ezequiel
                            se destaca por su habilidad para crear experiencias atractivas y funcionales, enfocándose en
                            lograr
                            que cada detalle visual cobre vida en sus proyectos. Su pasión por el diseño y la
                            programación
                            lo impulsa a seguir innovando y perfeccionando sus habilidades.
                        </p>
                    </div>
                </div>
                <div class="mas-info">
                    <div class="contenido">
                        <div class="contenido-habilidades">
                            <h2>Habilidades</h2> <br>
                            -Domina CSS <br>
                            -Avanzado en HTML <br>
                            -Amateur en JavaScript <br>
                            -Creativo <br>
                        </div>
                        <div class="contenido-prefesores">
                            <h2>Profesores</h2> <br>
                            -Gareis Pablo (6.8) <br> <br>
                            -Ferraro Victoria (6.4) <br>
                        </div>
                        <div class="contenido-grupo">
                            <h2>Grupo</h2> <br>
                            <p>-6.8</p> <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pollito">
                <div class="nosotros-fila">
                    <img src="../img/nosotros/pollito.jpg" alt="">
                    <div class="descripcion">
                        <h2>Tomas Farias</h2>
                        <p>
                            Tomás Farías, con 18 años, es un apasionado del arte y la animación. Desde Luis Guillón,
                            desarrolla
                            sus habilidades en dibujo y animación digital, destacándose en el uso de Blender para dar
                            vida a sus
                            ideas. Nacido el 8 de octubre de 2006, Tomás ha cultivado un enfoque creativo único y una
                            técnica
                            detallada en sus proyectos, buscando siempre aprender y experimentar con nuevas formas de
                            expresión visual.
                        </p>
                    </div>
                </div>
                <div class="mas-info">
                    <div class="contenido">
                        <div class="contenido-habilidades">
                            <h2>Habilidades</h2> <br>
                            -Amateur en Blender <br>
                            -Avanzado en HTML <br>
                            -Gran Artista <br>
                            -Domina ChatGPT <br>
                        </div>
                        <div class="contenido-prefesores">
                            <h2>Profesores</h2> <br>
                            -Gareis Pablo (6.8) <br> <br>
                            -Ferraro Victoria (6.4) <br>
                        </div>
                        <div class="contenido-grupo">
                            <h2>Grupo</h2> <br>
                            <p>-6.4</p> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="borde-footer">
        <footer>
            <div class="contenido-footer">
                <div class="columna">
                    <h2>Nuestras Redes!!</h2>
                    <div class="fila">
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Skiel</pre>
                            </div>
                        </div>
                        <div class="columna-redes">
                            <div class="fila">
                                <a href=""><img src="../img/footer/ig.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                            <div class="fila">
                                <a href=""><img src="../img/footer/tw.png" alt=""></a>
                                <pre> Pollito</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="crash-footer">
                    <img src="../img/footer/crashito.png" alt="">
                    <h2>Gracias por visitar nuestra pagina</h2>
                </div>
                <div class="columna">
                    <h2>Creditos</h2>
                    <pre>Skiel - Programacion y Diseño Web</pre>
                    <pre>Pollito - Imagenes, Modelos 3D y Programacion</pre>
                </div>
            </div>
        </footer>

        <script src="../js/sonido.js"></script>

</body>

</html>